:root {
    /* Light theme (by default) */
    /* Primary colors */
    --colors-main: 71, 63, 101;

    --colors-dark-aquamarine: 62, 187, 167; 
    --colors-aquamarine: 76, 224, 179;
    --colors-light-aquamarine: 170, 219, 207;

    --colors-yellow: 237, 164, 81;
    --colors-saffron: 242, 194, 0;
    --colors-golden: 251, 229, 138;

    --colors-light-gray: 123, 117, 146;
    --colors-storm-gray: 175, 177, 189;
    --colors-dark-gray: 214, 214, 214;
    --colors-gunmetal: 255, 255, 255;

    --colors-mauve: 215, 187, 253;
    --colors-grape: 240, 225, 255;
    --colors-violet-950: 255, 255, 255;

    --colors-dark-blue: 255, 255, 255;

    --colors-mint: 174, 251, 227;

    --colors-salmon: 220, 90, 75;

    /* With opacity colors */
    --colors-gray-border: #443F572E;
    --colors-white-opacity-1: #FFFFFF70;
    --colors-white-opacity-2: #FFFFFFA3;
    --colors-white-opacity-3: #F7FAFFCC;
    --colors-bg-graphic: #46464624;
  }

  .dark {
    /* Dark theme */
    /* Primary colors */
    --colors-main: 255, 255, 255;

    --colors-dark-aquamarine: 58, 190, 184;
    --colors-aquamarine: 76, 224, 179;
    --colors-light-aquamarine: 170, 219, 207;

    --colors-yellow: 241, 194, 1;
    --colors-saffron: 242, 194, 0;
    --colors-golden: 251, 229, 138;

    --colors-light-gray: 182, 182, 182;
    --colors-storm-gray: 114, 115, 121;
    --colors-dark-gray: 57, 58, 68;
    --colors-gunmetal: 46, 48, 56;

    --colors-mauve: 215, 187, 253;
    --colors-grape: 118, 55, 191;
    --colors-violet-950: 4, 0, 20;
   
    --colors-dark-blue: 11, 0, 51;
   
    --colors-mint: 174, 251, 227;

    --colors-salmon: 244, 121, 107;

    /* With opacity colors */
    --colors-gray-border: #FFFFFF0F;
    --colors-white-opacity-1: #FFFFFF08;
    --colors-white-opacity-2: #FFFFFF14;
    --colors-white-opacity-3: #FFFFFF2E;
    --colors-bg-graphic: #FFFFFF24;
  }